<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dmikam.kitkatdownloader"
    android:icon="@android:drawable/ic_menu_save">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:icon="@android:drawable/ic_menu_save"

        android:label="KitKat Downloader"
        android:allowBackup="true">

        <activity
            android:name=".MainActivity"
            android:theme="@android:style/Theme.NoDisplay"
            android:icon="@android:drawable/ic_menu_save"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <!-- 1. CATCH-ALL FOR "SHARE LINK" DIALOG (SEND ACTION) -->
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
            </intent-filter>

            <!-- 2. CATCH-ALL FOR WEB LINKS (HTTP/HTTPS) -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="http" />
                <data android:scheme="https" />
            </intent-filter>

            <!-- 3. CATCH-ALL FOR ANY FILE TYPE (IMAGES, AUDIO, VIDEO, BINARY) -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="http" />
                <data android:scheme="https" />
                <data android:mimeType="*/*" />
            </intent-filter>

        </activity>
    </application>
</manifest>
